<?xml version="1.0" encoding="UTF-8"?>
<moduledefinition>

	<general>
		<default name="csv" description="Import - Export de fichier CSV" />
	</general>
	
	<parameters>
		<parameter name="nb_colonne" captioni18n="csv.module.nbColumn" default="4" />
		<parameter name="export" captioni18n="csv.module.exportfile" default="export/" />
		<parameter name="import_temp" captioni18n="csv.module.import_temp" default="import_temp/" />
		<parameter name="nb_ligne_visualiser" captioni18n="csv.module.nbLineView" default="3" />
		<parameter name="sql_nb_colonne" captioni18n="csv.module.sqlNbColumn" default="3" />
		<parameter name="pagination" captioni18n="csv.module.pagination" default="20" />
	</parameters>
	
	<admin>
		<link url="csv|export|getConnection" captioni18n="csv.module.export" credentials="basic:registered"></link>
		<link url="csv|import|" captioni18n="csv.module.import" credentials="basic:registered"></link>
		<link url="csv|export|list" captioni18n="csv.export.exportlist" credentials="basic:registered"></link>
	</admin>
	
	<credentials>
		<credential name="export" />
		<credential name="import" />
	</credentials>
	
</moduledefinition>