@CHARSET "UTF-8";

.comments dt {
	position: relative;
	top: 1px;
	display: block;
	padding: 10px 0 0 0;
}

.comments dd {
	border: 1px solid #A07044;
	border-width: 1px 2px 2px 1px;
	background: #F6F4E4;
	padding: 10px;
	margin: 0 20px 20px 0;
	font-size: 1.1em;
	line-height: 1.4;
}
.comment-id {
	font-weight: bold;
	font-size: 2em;
}
.comments dd * { padding: 5px 0; font-size: 1em; }
.comments-form input, textarea {width: 80%}
.comments-form input.preview, input.submit {width: auto}