.bannertop, 
.copixwindow_title {
    background: #45506F; /* old browsers */
	/*background: -moz-linear-gradient(top, #54A55A 0%, #246936 100%); /* firefox */
	background: -moz-linear-gradient(top, #76BD11 0%, #00723F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76BD11), color-stop(100%,#00723F)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76BD11', endColorstr='#00723F',GradientType=0 ); /* ie */
}

.cmsbloc_title,
div.togglerCollapse,
.CopixTable tr.trSelectedElement, 
.CopixTable tr.trSelectedElement:hover{
	background: #3F272C; /* old browsers */
}

#footer{
	background : url("../img/fond_fleur.png") no-repeat scroll center bottom #E2EDF3;
	height: 200px;
}

.wrapper {
    background: #E4EDF6; /* old browsers */
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #E4EDF6 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E4EDF6)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E4EDF6',GradientType=0 ); /* ie */
}

.bannerbottom h1 {
    color: #3F272C;
}

.bannerbreadcrumb {
    background : url("../img/herbe.png") no-repeat scroll center bottom;
    height: 55px;
}

.bannerbottom {
	background: #E4EDF6; /* old browsers */
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #E4EDF6 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E4EDF6)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E4EDF6',GradientType=0 ); /* ie */
}

.bannerbottom .search a {
	color: #7F0F14;
}