<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
	<general>
		<default name="schedule" descriptioni18n="schedule.shortDescription" longdescriptioni18n="schedule.longDescription"/>
	</general>
	<dependencies>
   	<dependency name="cms" kind="module"/>
   	<dependency name="profile" kind="module"/>
   	<dependency name="parameters" kind="module"/>
   	<dependency name="pictures" kind="module"/>
	</dependencies>
  <parameters>
      <parameter name="easyWorkflow" captioni18n="schedule.parameter.easyWorkflow" default="1" />
      <parameter name="editionKind" captioni18n="schedule.parameter.editionKind" default="TEXT" />
   </parameters>
<events>
<listeners>
   <launch>
        <event name="EventPropose">
        <params>
           <param name="event" /><!-- the event dao object-->
        </params>
        </event>
        
        <event name="EventValid">
        <params>
           <param name="event" /><!-- the event dao object-->
        </params>
       </event>

       <event name="EventRefuse">
        <params>
           <param name="event" /><!-- the event dao object-->
        </params>
       </event>
    </launch>
 <listener name="schedule">
  <event name="HeadingAdminBrowsing" />
  <event name="HasContentRequest" />
  <event name="QuickAdminBrowsing" />
 </listener>
</listeners>

</events>   
</moduledefinition>
