<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
    <general>
        <default name="antispam" descriptioni18n="antispam.description" longdescriptioni18n="antispam.longdescription" icon="protect.gif" />
    </general>
    <dependencies>
        <dependency name="generictools" kind="module" />
        <dependency name="gd" kind="extension" />
    </dependencies>
</moduledefinition>