<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
	<general>
		<default name="template" descriptioni18n="template.description" longdescriptioni18n="template.longdescription"/>
	</general>
	<dependencies>
	</dependencies>
    <parameters>
      <parameter name="defaultThemeId" captioni18n="template.parameter.defaultThemeId" default="0" />
    </parameters>
</moduledefinition>