<?xml version="1.0" encoding="UTF-8"?>
<moduledefinition>
	<general>
		<default name="trackback" descriptioni18n="trackback.moduledescription"
			longdescriptioni18n="trackback.longdescription" />
	</general>
	<dependencies>
		<dependency name="bayes" kind="module" />
	</dependencies>
</moduledefinition>