<?xml version="1.0" encoding="UTF-8"?>
<moduledefinition>
	<general>
		<default name="news_5" description="[Tutoriel] News (Partie 5)" icon="|img/icon/tutorial.png" />
		<group id="tutos" captioni18n="copix:copixmodule.group.tutos" />
	</general>
	<credentials>
	    <credential name="Voir" />
	    <credential name="Ecrire" />
	</credentials>
    
</moduledefinition>