<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
 <general>
  <default name="tags_demo" longdescriptioni18n="tags_demo.longDescription" descriptioni18n="tags_demo.description" icon="|img/icon/tutorial.png"  />
  <group id="tutos" captioni18n="copix:copixmodule.group.tutos" />
 </general>
 <admin>
  <link url="tags_demo||" captioni18n="tags_demo.list" />
 </admin>
</moduledefinition>