<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
	<general>
		<default name="cms_portlet_schedule" descriptioni18n="schedule.portletDescription"/>
	</general>
	<dependencies>
   	<dependency name="cms" kind="module"/>
   	<dependency name="schedule" kind="module"/>
   	<dependency name="profile" kind="module"/>
	</dependencies>
</moduledefinition>