html, body{
	background-color: #4b4d46;
}


#banner{
	margin: 0;
	margin-top: -15px;
	background-image: url(../img/logo.png);
	height: 115px;
}

#banner h1 {
	/** Title **/
	margin-left: 150px;
}

#banner span{
	margin-left: 150px;
	font-style: italic;
}

#content{
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}

#menu {
	background-color: #EEEEEE;
	padding-top: 5px;
	padding-bottom: 0px;
	margin: 0;
	margin-bottom: 5px;
}

#menu li a {
	display: block;
	background-color: #FFF;
	padding: 8px;
	margin-bottom: -2px;
}


#menu li a:hover {
	display: block;
	background-color: #4b4d46;
	color: #FFF;
}


#footer{
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: bold;
}

#blog_panel{
	
}


a {	
	color: #697048;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: #350015;
}

h2 {
	background-color: #4b4d46;
	color: #FFF;
}

