<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
 <general>
  <default name="cms_portlet_news" descriptioni18n="news.description" longdescriptioni18n="news.longdescription" />
 </general>
 <dependencies>
  <dependency name="cms" kind="module"/>
  <dependency name="news" kind="module"/>
  <dependency name="profile" kind="module"/>
 </dependencies>
 <parameters>
  <parameter name="commentEnabled" captioni18n="cms_portlet_news|news.parameter.commentEnabled" default="0" />
 </parameters>
</moduledefinition>