<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
   <general>
    <default name="authextend" descriptioni18n="authextend.moduledescription" 
             longdescriptioni18n="authextend.longdescription" icon="user.gif" />
   </general>
    <dependencies>
        <dependency name="auth" kind="module" />
    </dependencies>
    <admin>
        <link url="admin|default" captioni18n="authextend.adminlink" credentials="basic:admin"></link>
    </admin>
</moduledefinition>