@CHARSET "UTF-8";

.CopixTable {
    margin-left: 5px;
    width: 98%;
  
    border:3px solid #4b4d46;
    border-collapse:collapse;
}
.CopixVerticalTable {
    margin-left: 5px;
    width: 98%;
    border:2px solid #4b4d46;
    border-collapse:collapse;
}

.CopixVerticalTable th {
	width: 160px;
    text-align: left;
    background-color: #4b4d46;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.CopixVerticalTable tr:hover {
    background-color:#C6CeB4;
}

.CopixVerticalTable td.result {
	width: 20px;
	text-align: center;
}

.CopixVerticalTable td.help {
	width: 20px;
	text-align: center;
}

.CopixTable tr:hover {
    background-color:#C6CeB4;
}

.CopixTable thead {
     background-color:#4b4d46;
}

.CopixTable thead th {
    background-color:transparent;
    text-align: left;
}

.CopixTable tr th {
    text-align: left;
    background-color:#4b4d46;
    height:25px;
    color: #ffffff;
}

.CopixTable td {
    height:25px;
}

.CopixTable th a,.CopixTable th a:visited {
    color: #ffffff;
    text-decoration: none;
}

.alternate {
    background-color: #ecefda;
}

body, th, td {
 font: normal 11px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}

h1, h2, h3, h4 {
 font-family: arial,verdana,'Bitstream Vera Sans',helvetica,sans-serif;
 font-weight: bold;

}

h2 {
	margin-top: 15px;
	margin-bottom: 5px;
	color: #b60000;
	font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
	background-color:     #868e74;    ;
	cursor: default;
	font-size: 11px;
}

#banner{
	background-color:    #4b4d46; ;
	margin: 0px;
}

/* The title */
#banner h1 {
	position: absolute;
	top: 0px;
	right: 10px;
	text-align: right;
	color: #ffffff;
	font-size: 16pt !important;
}

#maincontent{
	margin: 10px;
	margin-bottom: 0px;
	border: 1px solid #000;
	background-color: #FFF;
	padding: 5px;
	border-bottom: 0px;
}

#footer{
	margin: 0px;
	margin-top: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	background-color:    #4b4d46; ;
	padding-bottom: 4px;
	padding-top: 2px;
	border: 1px solid #000;
	border-left: 0px;
	border-right: 0px;
}

#footer a{
	color: white;
	text-decoration: underline;
}

#footer a:hover{
	background:none;
	color: white;
}

img{
	border: none;
}

a{
	color: #c97729;
	text-decoration: none;
	font-weight: bold;
}

a:visited{
}

a:hover{
	color: #FF0000;
}

.inputText, textarea {
	border: 1px solid    #4b4d46; ;
	margin: 1px;
}

.inputTextError {
	border: 1px solid red;
}

div.success {
	background-image: url(img/success.png);
	width: 16px;
	height: 16px;
}

div.error {
	background-image: url(img/error.png);
	width: 16px;
	height: 16px;
}

#content {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.errorVerification {
	text-align: center;
	color: red;
}

ul, ul li {
	padding-left: 0px;
	padding-top: 2px;
	margin-left: 8px;
	margin-top: 0px;
}

ul.errors, ul.errors li {
	color: red;
}