<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
	<general>
		<default name="cms_portlet_searchengine_detail" descriptioni18n="searchengine_detail.portletDescription" longdescriptioni18n="searchengine_detail.longPortletDescription"/>
	</general>
	<dependencies>
   	<dependency name="cms" kind="module"/>
   	<dependency name="searchengine" kind="module"/>
	</dependencies>
</moduledefinition>
