<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
 <general>
  <default name="news" descriptioni18n="news.moduleDescription"/>
 </general>
 <dependencies>
  <dependency name="cms" kind="module"/>
  <dependency name="parameters" kind="module"/>
  <dependency name="pictures" kind="module"/>
  <dependency name="profile" kind="module"/>
 </dependencies>
 <versions>
  <version number="1" date="20051005" />
 </versions>
 <parameters>
  <parameter name="easyWorkflow" captioni18n="news.parameter.easyWorkflow" default="1" />
  <parameter name="editionKind" captioni18n="news.parameter.editionKind" default="HTMLAREA" />
 </parameters>
 <events>
  <launch>
   <event name="NewsPropose">
    <params>
     <param name="news" /><!-- the news dao object-->
    </params>
   </event>
   <event name="NewsValid">
    <params>
     <param name="news" /><!-- the news dao object-->
    </params>
   </event>
   <event name="NewsRefuse">
    <params>
     <param name="news" /><!-- the news dao object-->
    </params>
   </event>
  </launch>
  <listeners>
   <listener name="News">
    <event name="HeadingAdminBrowsing" />
    <event name="HasContentRequest" />
    <event name="QuickAdminBrowsing" />
   </listener>
  </listeners>
 </events>
</moduledefinition>