<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
 <general>
  <default name="cms_portlet_picture" descriptioni18n="cms_portlet_picture.description" longdescriptioni18n="cms_portlet_picture.longdescription" />
 </general>
 <dependencies>
  <dependency name="cms" kind="module"/>
  <dependency name="profile" kind="module"/>
  <dependency name="pictures" kind="module"/>
 </dependencies>
</moduledefinition>