<?xml version="1.0"?>
<moduledefinition>
 <general>
  <default name="chart" descriptioni18n="module.description" longdescriptioni18n="module.longdescription" icon="|img/icon/chart.png" />
  <group id="tools" captioni18n="copix:copixmodule.group.tools" />
 </general>
 <parameters>
  <parameter name="chartfactory" default="SwfChart" caption="Nom de la factory à utiliser" />
 </parameters>
</moduledefinition>