<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
	<general>
		<default name="htmlheader" description="Load Html headers" />
	</general>
	<parameters>
		<parameter name="gzcompress" desciption="Compress output with gzip (yes/no)" default="yes" />
		<parameter name="expire" desciption="Expiration time (in seconds -> 86400 = 1 day)" default="86400" />
	</parameters>
</moduledefinition>