<?xml version="1.0" encoding="UTF-8"?>
<moduledefinition>
	<general>
		<default name="rss" descriptioni18n="rss.moduledescription"
			longdescriptioni18n="rss.longdescription" />
	</general>
	<events>
		<listeners>
			<listener name="rss">
				<event name="Content" />
			</listener>
		</listeners>
	</events>
</moduledefinition>