<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
	<general>
		<default name="newsletter" descriptioni18n="newsletter.description" longdescriptioni18n="newsletter.longdescription"/>
	</general>
	<dependencies>
   	<dependency name="cms" kind="module"/>
   	<dependency name="parameters" kind="module"/>
   	<dependency name="profile" kind="module"/>
	</dependencies>
   <parameters>
      <parameter name="perPage" captioni18n="newsletter.parameter.perPage" default="20" />
      <parameter name="delta" captioni18n="newsletter.parameter.delta" default="5" />
      <parameter name="multipageTemplate" captioni18n="newsletter.parameter.multipageTemplate" default="|pager.tpl" />
   </parameters>
   <events>
   <listeners>
      <listener name="ContribNewsletterHeading">
          <event name="HeadingAdminBrowsing" />
      </listener>
   </listeners>
   </events>
</moduledefinition>
