<?xml version="1.0" encoding="UTF-8"?>
<moduledefinition>
	<general>
		<default name="moduleclient" descriptioni18n="moduleclient.description"
			longdescriptioni18n="moduleclient.longdescription" />
	</general>
	<admin>
  		<link url="moduleclient|default|listmoduledeporte" captioni18n="moduleclient.admin.liste" credentials="basic:admin"></link>
 	</admin>
 	<parameters>
 	    <parameter name="server" captioni18n="moduleclient.parameter.server" default="wsserver|default|wsdl" />
	</parameters>
</moduledefinition>