<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
 <general>
  <default name="cms_portlet_newsdetail" descriptioni18n="cms_portlet_newsdetail.description" longdescriptioni18n="cms_portlet_newsdetail.longdescription" />
 </general>
 <dependencies>
  <dependency name="cms" kind="module"/>
  <dependency name="news" kind="module"/>
  <dependency name="profile" kind="module"/>
 </dependencies>
</moduledefinition>