/* Panel (calendar, tags, headings...) */
#blog_panel{

	
}

/* The main view (tickets) */
#blog_mainview {

}

/* The container of blog_view*/
#blog_view {

}

#blog_panel p, #blog_panel ul{
	border: 1px solid #4b4d46;
	margin-top: -12px;
	padding: 3px;
	list-style-type: none;
	padding-bottom: 8px;
	margin-bottom: 3px;
}

.calendar{
	margin-left: auto;
	margin-right: auto;
}

#blog_panel h3{
	font-size: 9pt !important;
	background-color: #4b4d46;
	color: #FFF !important;
	padding-top: 4px ;
	padding-bottom: 4px;
	text-align: center !important;
	margin-top: 3px;
}