<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
	<general>
		<default version="1.0.0" icon="syndication.gif" name="syndication" longdescriptioni18n="global.module.longdescription" descriptioni18n="global.module.description" />
	</general>
	<admin>
		<link url="syndication|example|" captioni18n="admin.link.flux" credentials="basic:admin"></link>
	</admin>
	<parameters>
		<parameter name="defaultType" captioni18n="global.param.defaultType" default="RSS_2_0" type="select" listValues="RSS_1_0=>RSS 1.0;RSS_2_0=>RSS 2.0;ATOM_1_0=>Atom 1.0" />
	</parameters>
</moduledefinition>
