@CHARSET "UTF-8";

body{
	margin: 0;
	padding: 0;
    font-family:"Verdana","Sans","Lucida Grande","Arial","Helvetica","sans-serif";
    font-size:9pt;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    cursor: default;
}
img {
	border: 0px;
	}
#banner{
	background-image: url(../img/bannerbg.png);
	background-repeat: repeat-x;
	background-position: top left;		
	height: 144px;		
	color: white;
}


#banner img{
	margin: 0;
	padding: 0;
	float: left;	
}

#slogan{
	font-size: 18px;
	margin-left: 170px;	
}

#mainview{
	margin:0;
}

#maincontent{
	padding: 0;
	margin: 0;
	margin-top: -25px;
	margin-left: auto;
	margin-right: auto;
	/*width: 780px;*/
	WIDTH: 90%;
}


#maincontent h1, #maincontent h2{
	color: #FFF;
	padding: 4px;
}

#maincontent h1.main{
	background-color: #e6a241 !important;
}

#maincontent h1{
	background-color: #e6a241;
}
#maincontent h2{
	background-color: #e6a241;
	font-size: 10pt;
}


#menu{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #e6a241;	
	
}
#menu ul {
	padding: 0;
	marin:0;
	clear: both;
	height: 25px;
}
#menu li{
	float:left;
	margin: 3px;
	list-style-type: none;
	background-color: #e6a241;
	padding: 5px;
	color: white;
}

#footer{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	border-top: 1px solid #e6a241;
	margin-bottom: 0px;
	margin-top: 15px;
}


th {
	text-align: left;
}