<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
 <general>
  <default name="flash" descriptioni18n="flash.moduleDescription"/>
 </general>
 <dependencies>
  <dependency name="cms" kind="module"/>
 </dependencies>
 <parameters>
  <parameter name="path" captioni18n="flash.parameter.path" default="../var/data/flash/" />
 </parameters>
 <events>
  <listeners>
   <listener name="ContribFlashHeading">
    <event name="HeadingAdminBrowsing" />
    <event name="HasContentRequest" />
   </listener>
  </listeners>
 </events>
</moduledefinition>